<launch>
    <!-- motorcontrol with correct base frame-->
	<master auto="start"/>
    <node pkg="bigbot" name="motorControl" type="motorControl" required="true" output="screen">
		<rosparam command="load" file="$(find bigbot)/config/robot/motorcontrolbasefootprint.yaml" />
	</node>


	
    <!-- now publish right model transforms bigbot3.urdf for base_footprint -->
 	<arg name="prefix" />
	<arg name="model" default="bigbot3.urdf" />
	<arg name="gui" default="False" />
    <!-- based on model passed in you may need to change base_frame in config/robot folder-->
	<param name="use_gui" value="$(arg gui)"/>

 	<arg name="publishstate" default="False" />
    <group if="$(arg publishstate)">
    	<param name="robot_description" textfile="$(find bigbot_description)/urdf/$(arg model)" />
	    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    </group>

</launch>
